@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 100%;
  font-family: Arial;
  /* background-color: rgb(248, 250, 252); */
}

body {
  background-color: rgb(248, 250, 252);
}

header {
  height: 5em;
}

footer {
  height: 5em
}

h1 {
  font-size: 2.5em;
  padding: .5em;
}

::placeholder {
  text-align: center;
}

/* .MuiBox-root {

} */

.input:focus {
  outline: none
}